{% extends "base.html" %}
{% load static %}
{% block title %}Modifica profilo{% endblock %}
{% block extra_head %}
<link href="https://unpkg.com/cropperjs@1.5.12/dist/cropper.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<h1 class="text-center mb-4">Modifica profilo</h1>
<div class="col-lg-8 mx-auto border border-dark rounded shadow p-4">
    <form method="post" enctype="multipart/form-data" class="js-cropper-form">
        {% csrf_token %}
        {% include "partials/_form_fields.html" %}
        <div class="mx-auto mb-3" style="max-width: 280px;">
            <img class="img-fluid rounded border shadow js-cropper-image" src="{{ user.avatar_url }}" alt="Foto profilo attuale">
        </div>
        <p class="form-text">Se scegli una nuova foto, verrà ritagliata in formato quadrato prima dell'invio.</p>
        <button type="submit" class="btn btn-primary">Salva</button>
        <a href="{% url 'accounts:delete' %}" class="btn btn-outline-danger float-end">Cancella account</a>
    </form>
</div>
{% endblock %}
{% block extra_js %}
<script src="https://unpkg.com/cropperjs@1.5.12/dist/cropper.min.js"></script>
<script src="{% static 'js/cropper-upload.js' %}"></script>
{% endblock %}
